## Topic 1: Basic Statistics and Python Review  
DS 321 - Computational Statistics (AY 2021-2022)  
Department of Data Science  
University of Science and Technology of Sourthern Philippines

## Imports

In [18]:
import numpy as np
import pandas as pd
import seaborn as sns
import scipy.stats as stats
import matplotlib.pyplot as plt

## Getting the Variance and Standard Deviation

In [11]:
first_list = [4, 34, 11, 12, 2, 26, 7]

In [26]:
def get_variance(list_of_nos):
    ## TRY THIS!
    return

In [27]:
get_variance(first_list)

In [30]:
## Get the variance the numpy way

In [29]:
def get_stdev(list_of_nos):
    ## TRY THIS!
    return

In [31]:
get_stdev(first_list)

In [28]:
## Get the standard deviation the numpy way

## Descriptive Statistics  

<b><i>Descriptive statistics</b></i> (sometimes called <b><i>summary statistics</b></i>) are quantitative values we can calculate to summarize information about our dataset. Calculating these statistics is typically the first step when performing exploratory data analysis (EDA).

For this example, we'll look at a classic introductory machine learning dataset, the [`Titanic Dataset`](https://www.kaggle.com/c/titanic).

In [19]:
dataset = sns.load_dataset("titanic")
dataset.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

Most of the column headers (we'll call them features or predictors from now on) are self-explanatory. Click [`here`](https://www.kaggle.com/c/titanic/data) to find a more thorough description of the data.

As a final note, the values that we'll be calculating below are actually called <b><i>sample statistics</b></i> (e.g. sample mean, sample variance, etc.). From a frequentist perspective, they are merely <b><u>estimates</b></u> of the true parameters, which are fixed but unknown.

### Min and Max  

<b><i>Min</b></i> and <b><i>Max</b></i> refer to the minimum and maximum data values of a particular feature. Note that this does not refer to the <i>theoretical</i> min and max values that the feature can take.

In [20]:
# To get an initial look on the statistical details of the dataset
dataset.describe()

         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [21]:
# To check the quality of the dataset
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB

#### Q1.

Calculate the min and max values for `age`.

#### Q2.

Calculate the min and max values for `fare`.

## Quantiles and Percentiles

Now for some formal discussion.

Let $X$ be a r.v. with cdf $F$.

For each $p \in \left[0, 1\right]$, define $F^{-1}(p)$ to be the smallest value $x$ such that $F(x) \geq p$. 

Then $F^{-1}(p)$ is called the $p$ <b><i>quantile</b></i> of $X$ or the $100p$ <b><i>percentile</b></i> of $X$.

The function $F^{-1}$ is called the <b><i>quantile function</b></i> of $X$.

Quantiles are used as cut points that divide a probability distribution into intervals of equal probability. For example, the <b><i>quartiles</b></i> of a distribution are defined by three points that split the distribution into four equally-sized groups. These points are the 25th, 50th, and 75th percentile.

#### Q3.

Calculate the 80th, 90th, and 99th percentile of `fare`. Ignore NaN values.

#### Q4.

Calculate the first, second, and third quartiles for `age`. Print this.

Create a density plot for `age` and overlay the quartiles by plotting red vertical lines. Note that density plots $\neq$ histograms.

Ignore NaN values.

## Measures of Central Tendency

### Mean

The <b><i>sample mean</b></i> $\bar{x}$ of a feature $X$ with data points $x_1, x_2, \ldots, x_n$ is defined as

$$\bar{x} = \frac{1}{n}\sum_{i=1}^{n}x_i$$

#### Q5.

Calculate the sample mean of `age`. Ignore NaN values.

### Median

The <b><i>median</b></i> is defined as the 50th percentile. It is the value that divides the data into two equal groups.

More formally, every number $m$ with the following property is called the median of a r.v. $X$:

$$P(X \leq m) \geq 0.5 \quad \text{ and } \quad P(X \geq m) \geq 0.5$$

Note that there can be more than one median.

#### Q6.

Calculate the median of `age`. Ignore NaN values.

### Mode

The <b><i>mode</b></i> is defined as the most frequent value. It corresponds to the maxima of a distribution. 

Distributions with just one maxima are called <b><i>unimodal</b></i>, while those with multiple maximas are called <b><i>multi-modal</b></i> (e.g. a distribution with two modes is called <b><i>bimodal</b></i>).

For continuous distributions (subject to certain assumptions), we can find the modes by finding the maximum of a pdf $f$, i.e. solving

$$\frac{d}{dx}f(x) = 0$$

#### Q7.

Calculate the mode of `age`. Ignore NaN values.

## Measures of Spread / Dispersion

### Variance / Standard Deviation

The (unbiased) <b><i>sample variance</b></i> $s^2$ of a feature $X$ with data points $x_1, x_2, \ldots, x_n$ is defined as

$$s^2 = \frac{1}{n-1}\sum_{i=1}^{n}(x_i - \bar{x})^2$$

The <b><i>sample standard deviation</b></i> $s$ is the non-negative square root of the sample variance.

#### Q8.

Calculate the <b><u>unbiased</b></u> sample variance and sample standard deviation of `age`. Ignore NaN values.

<i>Hint</i>: If you are using a numpy function, you might want to double check your answer. Try reading the API.

### Range

The <b><i>range</b></i> of your data is defined as difference between the maximum and minimum values. It gives you an idea about the span or width your data values.

#### Q9.

Calculate the range of `age`. Ignore NaN values.

#### Interquartile Range (IQR)

The <b><i>interquartile range</b></i> (IQR) defined as the difference between the 75th and 25th percentile. It is typically used when creating box plots, and is also used as a proxy for variance when expectations do not exist (e.g. Cauchy distribution).

#### Q10.

Calculate the IQR of `age`. Ignore NaN values.

## Higher Moments

Beyond centrality and spread, there are two higher moment statistics used to describe the shape of a distribution.

### Skewness

The <b><i>skewness</b></i> of a distribution measures the degree of asymmetry of a distribution around the mean. Its value can be positive, zero, negative, or undefined.

For unimodal distributions, negative skew means that the tail of the distribution is on the left side, while a positive skew indicates that the tail is on the right. For example, if we apply the exponential function on a r.v. $X$ with Normal distribution (which has zero skew since it is symmetric), we create a new r.v. $Y = \exp(X)$ which has a [`log-normal distribution`](https://en.wikipedia.org/wiki/Log-normal_distribution) and is positively skewed.

Formally, the skewness of a r.v. $X$ is defined as

$$\tilde{\mu}_3 = E\left[\left(\frac{X - \mu}{\sigma}\right)^3\right]$$

The <b><i>sample skewness</b></i> is

$$\frac{\frac{1}{n}\sum_{i=1}^{n}(x_i - \bar{x})^3}{s^3}$$

#### Q11.

Calculate the sample skewness of `age`. Ignore NaN values.

### Kurtosis

The <b><i>kurtosis</b></i> of a distribution measures its "tailedness" (i.e. how heavy the tails are). In essence, a higher kurtosis indicates a greater probability of outliers occurring. A description of the types of kurtosis (<b><i>Mesokurtic</b></i>, <b><i>Leptokurtic</b></i>, and <b><i>Platykurtic</b></i>) can be read [`here`](https://en.wikipedia.org/wiki/Kurtosis#Excess_kurtosis).

Formally, the kurtosis of a r.v. $X$ is defined as

$$\tilde{\mu}_4 = E\left[\left(\frac{X - \mu}{\sigma}\right)^4\right]$$

The <b><i>sample kurtosis</b></i> is

$$\frac{\frac{1}{n}\sum_{i=1}^{n}(x_i - \bar{x})^4}{\left[\frac{1}{n}\sum_{i=1}^{n}(x_i - \bar{x})^2\right]^2} - 3$$

#### Q12.

Calculate the sample kurtosis of `age`. Ignore NaN values.

---

# Exploratory Data Analysis (Homework 1)

In this section, we'll be doing some <i>guided</i> EDA. Note that it's usually the data scientist's job to formulate their own questions when performing EDA.

You can <b><u>be as creative as you want</b></u> when answering the questions below (you can also be as simple as you want). You can create plots, calculate statistics, fit fancy models, etc.

**Homework 1 (Individual)**  
Do this in a separate jupyter notebook. Once completed, save the file in this filename format (SURNAME, FIRSTNAME - DS321-HW1) and email to joannaquinto.msds2021@aim.edu.

**Deadline:** February 25, 2022 (11:59pm)

## Survival Analysis

#### Q1.

In the Titanic movie, they let women and children on the lifeboats first. One would then be lead to believe that women and children had a higher chance of survival.

Does the data support this idea?

**Answer:**  

[PUT YOUR ANSWER HERE]

In [22]:
## PUT YOUR CODE HERE

#### Q2.

Also in the movie, you can see rich people arguing that they should be allowed on the lifeboats first. 

From the data, how can you identify the "rich" passengers? 

Did rich passengers end up surviving more compared to the poorer passengers?

**Answer:**  

[PUT YOUR ANSWER HERE]

In [23]:
## PUT YOUR CODE HERE

#### Q3.

One could make the argument that young people should be let on the lifeboats first, since they have more of life to look forward to!

How would you quantitatively define "young" and "old"?

Did a young person have a better chance of surviving the incident compared to an old person?

**Answer:**  

[PUT YOUR ANSWER HERE]

In [ ]:
## PUT YOUR CODE HERE